/test_source/citygrid_ao.png
/test_source/citygrid_shaded.png
/test_source/cityhouse_ao.png
/test_source/cityhouse_shaded.png
/test_source/shadowed.png
/node_modules/
/.idea/workspace.xml
/test_source/citygrid_ambient.png
/test_source/citygrid_post.png
/test_source/citygrid_topo.png
/test_source/citygrid_ambient_analysis.png